@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Slab&display=swap');

#page {
  margin: 0 auto;
  text-align: center;

}

body {
  background-color: #F7F7F7;
  font-family: 'Roboto';
  font-size: 32px;
  line-height: white;
  text-align: center;
}

h1, h2 { color: #60D6B4;
}
h1 {
  font-family: 'Roboto Slab', serif;
  font-size : 50px;
}

p {
  color: #42433E;
  margin: 15px;
}

.bouton {
  background-color: #60D6B4;
  font-size: 25px;
  color: white;
  border-radius: 8px;
  box-shadow: 0 10px 30px rgba(0,0,0,.1);
  display: inline-block;
  padding: 15px 30px;
  margin: 10px;

}

.bouton:hover {
  box-shadow: 0 10px 30px rgba(0,0,0,.2);
}

.bouton > a {
  color: white;
  text-decoration: none;
  }


.my-div {
  margin: 12px;
  margin-left: 150px;
  margin-right: 150px;
  background: white;                         /* White background */
  padding: 30px;                             /* Internal space */
  border-radius: 4px;                        /* Small radius */
  box-shadow: 0 10px 30px rgba(0,0,0,.1);
  text-align: center;
}

.my-div:hover {
  box-shadow: 0 10px 30px rgba(0,0,0,.2);
}

#profile-picture {
  width: 350px;
  border: 1px solid;
  opacity: 0.90;
  margin: 20px;
}

.border-circle {
  border-radius: 50%;
}

.icon {
  font-size: 120px;
  color: #C7CBD0;
  margin : 30px;
}


.icon:hover {
  color: #60D6B4;

}

.top-page > h1 > span {
  letter-spacing: 5px;
}

.list-inline {
  list-inline: align;
}

.images {
  display: flex;
  justify-content: center;
  margin: 20px;
  font-size : 28px;
  flex-wrap: wrap;
}

.list-style {
  list-style: none;
}

.image-ville {
  width: 350px;
  border-radius: 7px;
  margin: 20px;
  opacity: 0.90;
}
